h2 {
	color: #79f2d0;
	font-size: 3.3rem;
}
p {
	font-size: 1rem;
	color: #8a94a7c0;
}
#competences {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 2;
	position: relative;
	color: white;
	font-family: Roboto;
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 100vh;
	width: 100%;
	padding: 0 40px;
}
.cartecompétence {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	gap: 20px;
	h3 {
		font-size: 2rem;
	}
	section {
		display: flex;
		flex-direction: column;
		width: 50%;
		text-align: center;
	}
}
.frontbackend {
	border: 1px solid white;
	border-radius: 15px;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 2rem;
	padding: 2rem;
	height: 80%;
	figure {
		margin: 20px;
	}
	.logo {
		background: radial-gradient(#94816b50, #161919);
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		height: 8rem;
		width: 8rem;
		border-radius: 50%;
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
		img {
			width: 5rem;
		}
	}
}

@media screen and (max-width: 1030px) {
	h2 {
		text-align: center;
	}
	.cartecompétence {
		display: flex;
		flex-direction: column;
		width: 100%;
		section {
			width: 100%;
		}
	}
	.frontbackend {
		padding: 20px 10px;
		gap: 20px;
		justify-content: space-evenly;
		figure {
			margin: 5px;
		}
		.logo {
			background: radial-gradient(#94816b50, #161919);
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
			filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
			img {
				width: 2.5rem;
			}
		}
	}
}
