#burgerButton {
    position: fixed;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 2.5rem;
    z-index: 100;
}

#drawer {
    height: 100vh;
    background-color: grey;
    color: white;
    width: 70vw;
}

#textDrawer {
    font-size: 3rem !important;
}

@media screen and (min-width:930px){
    #burgerButton {
        display: none;
    }
}