.scroll-to-top-button {
  position: fixed;
  bottom: 2em;
  right: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.scroll-to-top-button.show {
  opacity: 1;
}
.button-container {
  width: 4rem;
  img {
    width: 4rem;
  }
}

@media (max-width: 930px) {
  .scroll-to-top-button {
      bottom: 4em;
      right: 1em;
  }
  .button-container {
    width: 3rem;
    img {
      width: 3rem;
    }
  }
}