#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: relative;
    color: white;
    font-family: Roboto;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    width: 100%;
    padding: 0px 40px;
}
#sectionvaleurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
#sectiontexte {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#about p {
    font-size: 1.2rem;
    color: white;
}
.card-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

  }
h2 {
    color: #79F2D0;
    font-size: 3.3rem;
}
h3 {
    text-align: center;
}

 @media screen and (max-width:930px){
    #about {
        /* min-height: 100vh;     */
     }
 }