#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
    margin: 0 40px;
    color: white;
    height: 100vh;
    font-family: Roboto;
    background-color: rgba(0, 0, 0, 0.8)
}

h2 {
    color: white;
    font-size: 3.3rem;
}
 p {
    font-size: 1rem;
    color: white;
    width: 70vw;
    height: auto;
 }


 @media screen and (max-width:930px){
    #about {
        min-height: 100vh;
    }

 }