#status {
    background-color: #79F2D0;
    width: 105%;
    color: black;
    text-align: center;
    margin-top: 5%;
    h3, p {
        color: black;
        width: 100%;
    }
}
.status-content {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 0;
    }
}

@media screen and (max-width:768px){
    #status {
        background-color: #79F2D0;
        width:115vw;
        height: auto;
    }
    .status-content {
        height: auto;
        width: 80%;
        margin: 0 auto;
    h3, p {
        color: black;
        width: 100%;
    }
}