#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: relative;
    color: white;
    font-family: Roboto;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    width: 100%;
    padding: 0px 40px;
    border: 1px solid red;
}

h2 {
    color: #79F2D0;
    font-size: 3.3rem;
}
 p {
    font-size: 1rem;
    color: #8a94a7c0;
 }

 @media screen and (max-width:930px){
    #contact {
        min-height: 100vh;
    }
 }
