/* Couleurs de base - thème clair */

:root {
    --color-primary: #F2C9DC;
    --color-secondary: #79F2D0;
    --color-tertiary: #F2D479;
    --color-quaternary: #D1DEF1;
    --color-background: #F2F2F2;
    --color-text: #333333;
    --color-accent: #e74c3c;
  }
  
  /* Couleurs de base - thème sombre */
  body.dark-theme {
    --color-primary: #F2C9DC;
    --color-secondary: #79F2D0;
    --color-tertiary: #F2D479;
    --color-quaternary: #D1DEF1;
    --color-background: #2c3e50;
    --color-text: #333333;
    --color-accent: #e74c3c;
  }
  *{
    box-sizing: border-box;
    line-height: 1.6;
  }
* {
    text-align: center;
}